.main {
  @apply flex-1;
  @apply flex flex-col w-full relative;

  & > header {
    @apply flex-none basis-1/4 pt-4;
    @apply flex flex-row items-center justify-center uppercase text-center;
    color: #fff;
    font-family: Barlow Condensed;
    font-size: 28px;
    letter-spacing: 4.725px;
    width: 55%;
  }

  .contentWrapper {
    @apply basis-2/3 flex-none;
    @apply flex flex-row w-full relative justify-evenly;

    .content {
      @apply w-[448px];
      .tabs {
        @apply flex flex-row gap-8;

        & > * {
          @apply relative py-2 cursor-pointer select-none;
        }

        .tabActive {
          @apply after:content-[''] after:block after:absolute after:left-0 after:right-0 after:bottom-0 after:h-0.5 after:bg-white;
        }
      }

      .tabContents {
        @apply h-full w-full relative flex flex-row flex-nowrap;

        .tabContent {
          @apply flex-none w-full;
          @apply hidden;

          &.tabContentActive {
            @apply block;
          }

          .largeText {
            @apply text-[100px] uppercase font-['Bellefair'];
          }
          .desc {
            @apply text-justify font-['Barlow'] text-[#D0D6F9];
            line-height: 32px;
          }
          .hr {
            @apply h-[1px] w-full bg-[#383B4B] mt-9 mb-6;
          }

          .statistic {
            @apply flex flex-row gap-20;

            .statisticLabel {
              @apply uppercase font-['Barlow_Condensed'] text-[#D0D6F9];
              letter-spacing: 2.362px;
            }

            .statisticNumber {
              @apply uppercase text-3xl font-['Bellefair'];
            }

            .distanceContainer {
            }

            .travelTimeContainer {
            }
          }
        }
      }
    }
  }
}
