@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color-scheme: dark;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: light) { */
:root {
  color-scheme: light;
  /* default  */

  /* rgb(255,255,255) */
  --foreground-rgb: 255, 255, 255;
  --color-rgb: 0 0 0;
  /* rgb(45, 212, 191) */
  --background-start-rgb: 45, 212, 191;
  /* rgb(225, 236, 232) */
  --background-via-rgb: 225, 236, 232;
  /* rgb(225, 217, 171) */
  --background-end-rgb: 225, 217, 171;

  /* my own */
  /* rgb(38, 70, 83) */
  --primary-rgb: 38, 70, 83;
  /* rgb(244, 162, 97) */
  --secondary-rgb: 244, 162, 97;
  /* rgb(42, 157, 143) */
  --neutral-rgb: 42, 157, 143;
  --vivid-rgb: 231, 111, 81;
}
/* } */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  @apply bg-gradient-to-tr from-[rgb(var(--background-end-rgb))] via-[rgb(var(--background-via-rgb))] to-[rgb(var(--background-start-rgb))];
  color: rgb(var(--color-rgb));
}
