@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  @apply bg-gradient-to-tr from-[rgb(var(--background-end-rgb))] via-[rgb(var(--background-via-rgb))] to-[rgb(var(--background-start-rgb))];
  color: rgb(var(--color-rgb));
}
