.appWrapper {
  @apply bg-sky-950 h-full w-full flex lg:flex-row flex-col;

  .sidebar {
    @apply bg-gray-800 lg:block flex lg:flex-col lg:justify-center
      flex-row flex-wrap justify-between items-center;
    flex: 0 0 300px;
    border: none;
    border-right: 1px solid white;

    /* lg */
    @media only screen and (max-width: 1024px) {
      & {
        flex-basis: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    & > img {
      @apply lg:mt-8 mt-1 lg:m-auto;
    }
  }

  .mainPage {
    @apply flex flex-col h-full w-full;
    overflow-y: auto;
    overflow-x: auto;

    & > header {
      @apply bg-gray-800;
      flex: 0 0 35px;
      padding: 5px;
      text-align: center;
      font-size: 24px;
    }

    & > main {
      flex: 1 1 100%;
      padding: 5px;
      position: relative;
    }

    & > footer {
      flex: 0 0 50px;
      padding: 5px;
      text-align: center;
      font-size: 18px;
    }
  }
}
