.navbar {
  @apply relative flex flex-row flex-wrap items-center w-full max-lg:px-[15px] max-lg:justify-between lg:flex-[0_0_300px] lg:gap-2 shadow-lg lg:flex-col lg:h-full max-lg:py-[8px];
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .logo {
    @apply mt-1 dark:invert lg:mt-8 lg:mb-8 lg:m-auto max-lg:w-[100px];
  }

  .nav_links {
    @apply flex flex-col w-full bg-gray-800 lg:block max-lg:hidden;

    &.active {
      @apply p-2 mt-3 max-lg:flex bg-slate-300;
    }

    & > * {
      @apply flex w-full p-2 hover:bg-sky-700 border-amber-500 lg:block max-lg:bg-[#f8f9fa] max-lg:text-stone-900;

      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
}
